Sources/Heleonix.Build/Heleonix.Build.Intellisense.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
The MIT License (MIT)

Copyright (c) 2015-2016 Heleonix - Hennadii Lutsyshyn

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!--
Example custom itemtype with particular meta-data required
<xs:element name="MyItem" substitutionGroup="msb:Item">
  <xs:complexType>
    <xs:complexContent>
      <xs:extension base="msb:SimpleItemType">
        <xs:sequence maxOccurs="1">
          <xs:choice>
            <xs:element name="MyMetaData" type="xs:string"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:element>

Example custom itemtype with NO meta-data
<xs:element name="MySimpleItem" type="msb:SimpleItemType" substitutionGroup="msb:Item"/>

Example custom itemtype with ANY meta-data
<xs:element name="MyFlexibleItem" type="msb:GenericItemType" substitutionGroup="msb:Item"/>

Example custom property that allows string content only
<xs:element name="MySimpleProperty" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>

Example custom task with single required parameter
<xs:element name="MyTask" substitutionGroup="msb:Task">
  <xs:complexType>
    <xs:complexContent>
      <xs:extension base="msb:TaskType">
        <xs:attribute name="MyParameter" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:element>

Example custom enum
<xs:simpleType name="Some-Enum">
  <xs:restriction base="xs:string">
    <xs:enumeration value="Value1"/>
    <xs:enumeration value="Value2"/>
  </xs:restriction>
</xs:simpleType>

Example custom property of type of custom enum
<xs:element name="Some-Enum-Prop" substitutionGroup="msb:Property">
  <xs:annotation>
    <xs:documentation>Description.</xs:documentation>
  </xs:annotation>
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="msb:Some-Enum">
        <xs:attribute name="Condition" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>
-->

<xs:schema xmlns:msb="http://schemas.microsoft.com/developer/msbuild/2003"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.microsoft.com/developer/msbuild/2003"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include
    schemaLocation="C:\Program Files (x86)\Microsoft Visual Studio 14.0\Xml\Schemas\1033\MSBuild\Microsoft.Build.Commontypes.xsd"/>

  <!--Region Custom types-->
  <xs:simpleType name="Hxb-Setup-CI-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jenkins"/>
      <xs:enumeration value="TeamCity"/>
      <xs:enumeration value="Dev"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-Build-VCS-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Git"/>
      <xs:enumeration value="Svn"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-FileSystemSearch-Direction-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Up"/>
      <xs:enumeration value="Down"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-FileSystemSearch-Type-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Files"/>
      <xs:enumeration value="Directories"/>
      <xs:enumeration value="All"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-FxCop-Issues-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="CriticalErrors"/>
      <xs:enumeration value="Errors"/>
      <xs:enumeration value="CriticalWarnings"/>
      <xs:enumeration value="Warnings"/>
      <xs:enumeration value="Informational"/>
      <xs:enumeration value="Any"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-Nuget-Verbosity-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Quiet"/>
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Detailed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-ReportGenerator-Verbosity-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error"/>
      <xs:enumeration value="Info"/>
      <xs:enumeration value="Verbose"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-NUnit-TraceLevel-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off"/>
      <xs:enumeration value="Error"/>
      <xs:enumeration value="Warning"/>
      <xs:enumeration value="Info"/>
      <xs:enumeration value="Verbose"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-NUnit-ProcessIsolation-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Single"/>
      <xs:enumeration value="Separate"/>
      <xs:enumeration value="Multiple"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-NUnit-DomainIsolation-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Single"/>
      <xs:enumeration value="Multiple"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-OpenCover-TargetType-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUnit"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-OpenCover-Register-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="user"/>
      <xs:enumeration value="path32"/>
      <xs:enumeration value="path64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-ItemCombine-Operation-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pairing"/>
      <xs:enumeration value="CrossProduct"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-ItemSet-Operation-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Union"/>
      <xs:enumeration value="Intersection"/>
      <xs:enumeration value="RelativeComplement"/>
      <xs:enumeration value="SymmetricDifference"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hxb-Build-Verbosity-Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Quiet"/>
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Detailed"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Endregion-->

  <!--Region External-->
  <xs:element name="JENKINS_URL" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A URL of the Jenkins host instance. Indicates that Jenkins is installed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WORKSPACE" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A directory where Jenkins is working on the solution.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BRANCH_NAME" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A name of a branch in the Jenkins multi-branch plugin.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TEAMCITY_VERSION" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A version of the TeamCity. Indicates that TeamCity is installed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="system_agent_work_dir" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A directory where TeamCity si working on the solution.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="teamcity_build_branch" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A name of a branch in the TeamCity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BUILD_NUMBER" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A build number in Jenkins or TeamCity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MSBuildProgramFiles32" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The location of the 32-bit program folder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MSBuildToolsVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The version of the MSBuild Toolset that is used to build the project.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Tasks-->
  <xs:element name="Heleonix.Build.Tasks.DirectoryClean" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Deletes contents of a directory, but not the directory itself.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="Dirs" use="required">
            <xs:annotation>
              <xs:documentation>Directories to clean.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CleanedDirs">
            <xs:annotation>
              <xs:documentation>[Output] The cleaned directories paths.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FailedDirs">
            <xs:annotation>
              <xs:documentation>[Output] The failed to clean directories paths.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.FileSystemSearch" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Searches items in the file system.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="StartDir" use="required">
            <xs:annotation>
              <xs:documentation>The directory to start from, including that directory.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Direction" type="msb:Hxb-FileSystemSearch-Direction-Enum">
            <xs:annotation>
              <xs:documentation>The search direction.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Types" type="msb:Hxb-FileSystemSearch-Type-Enum">
            <xs:annotation>
              <xs:documentation>Types of items to search.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PathRegExp" type="xs:string">
            <xs:annotation>
              <xs:documentation>The .NET regular expression to search by path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PathRegExpOptions" type="xs:string">
            <xs:annotation>
              <xs:documentation>The .NET regular expression options to search by path. Default is "IgnoreCase".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ContentRegExp" type="xs:string">
            <xs:annotation>
              <xs:documentation>The .NET regular expression to search by content.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ContentRegExpOptions" type="xs:string">
            <xs:annotation>
              <xs:documentation>The .NET regular expression options to search by content.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FoundFiles">
            <xs:annotation>
              <xs:documentation>[Output] The found files.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FoundDirs">
            <xs:annotation>
              <xs:documentation>[Output] The found directories.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FoundItems">
            <xs:annotation>
              <xs:documentation>[Output] All the found items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.FileUpdate" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Updates a file with specified regular expression and content.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="File" use="required">
            <xs:annotation>
              <xs:documentation>The file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RegExp" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>The .NET regular expression to find content to replace.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RegExpOptions" type="xs:string">
            <xs:annotation>
              <xs:documentation>The .NET regular expression options.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Replacement" type="xs:string">
            <xs:annotation>
              <xs:documentation>Content to replace with.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.FxCop" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Runs the FxCop.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="FxCopCmdFile" use="required">
            <xs:annotation>
              <xs:documentation>The FxCop command file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AnalysisResultFile" use="required">
            <xs:annotation>
              <xs:documentation>The analysis results file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="IsVerbose" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>A value indicating whether the FxCop is verbose.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TargetsTypes" type="xs:string">
            <xs:annotation>
              <xs:documentation>The comma-separated types to analyze.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RulesFilesDirs">
            <xs:annotation>
              <xs:documentation>The location of rule libraries to load.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ProjectFile">
            <xs:annotation>
              <xs:documentation>The file path of an FxCop project file.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TargetsFilesDirs">
            <xs:annotation>
              <xs:documentation>The files to analyze.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AnalysisResultsXslFile">
            <xs:annotation>
              <xs:documentation>The analysis results XSL file that is referenced in the processing instruction.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="DependenciesDirs">
            <xs:annotation>
              <xs:documentation>The dependencies directories paths to search for target assembly dependencies.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RulesetFile">
            <xs:annotation>
              <xs:documentation>The ruleset file path to be used for the analysis.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="DictionaryFile">
            <xs:annotation>
              <xs:documentation>The dictionary file path to be used by spelling rules.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FailOn" type="msb:Hxb-FxCop-Issues-Enum">
            <xs:annotation>
              <xs:documentation>Types of issues to fail the task.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CriticalErrors" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The critical errors count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Errors" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The errors count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CriticalWarnings" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The critical warnings count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Warnings" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The warnings count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Informational" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The informational messages count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.GitLog" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Retrieves the Git log.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="GitExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The Git executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RepositoryFileDir" use="required">
            <xs:annotation>
              <xs:documentation>The file or directory path to retrieve log for.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxCount" type="xs:long">
            <xs:annotation>
              <xs:documentation>The maximum count of commits to retrieve from the log.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SinceDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date to start retrieval of commits from.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="UntilDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date to stop retrieval of commits on.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Commits">
            <xs:annotation>
              <xs:documentation>[Output] The commits.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.ItemFilter" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Filters items using regular expressions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="Inputs" use="required">
            <xs:annotation>
              <xs:documentation>Items to check.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RegExp" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>The .NET regular expression to filter items by.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RegExpOptions" type="xs:string">
            <xs:annotation>
              <xs:documentation>The .NET regular expression options. Default is "IgnoreCase".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MetadataName" type="xs:string">
            <xs:annotation>
              <xs:documentation>The name of the metadata to apply filter to. Default is "FullPath".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Negative" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Determines whether the regular expression is applied as negative expression.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Outputs">
            <xs:annotation>
              <xs:documentation>[Output] The filtered items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.ItemCombine" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Combines items: adds the right list of items as metadata into the left list.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="Operation" type="msb:Hxb-ItemCombine-Operation-Enum" use="required">
            <xs:annotation>
              <xs:documentation>The operation on items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TargetMetadataName" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>The name of the target metadata to insert other items to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SourceMetadataName" type="xs:string">
            <xs:annotation>
              <xs:documentation>The name of the source metadata to get values from. Default is "Identity".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Left">
            <xs:annotation>
              <xs:documentation>Left-side items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Right">
            <xs:annotation>
              <xs:documentation>Right-side items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Result">
            <xs:annotation>
              <xs:documentation>[Output] The resulting items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.ItemSet" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Handles items as sets.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="Operation" type="msb:Hxb-ItemCombine-Operation-Enum" use="required">
            <xs:annotation>
              <xs:documentation>The operation on items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Left">
            <xs:annotation>
              <xs:documentation>Left-side items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Right">
            <xs:annotation>
              <xs:documentation>Right-side items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Result">
            <xs:annotation>
              <xs:documentation>[Output] The resulting items.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.NugetPack" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Runs the Nuget pack command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="NugetExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The Nuget executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="NuspecFile" use="required">
            <xs:annotation>
              <xs:documentation>The nuspec file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ProjectFile" use="required">
            <xs:annotation>
              <xs:documentation>The project file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Configuration" use="required">
            <xs:annotation>
              <xs:documentation>The configuration to create package from: Debug, Release etc.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PackageDir">
            <xs:annotation>
              <xs:documentation>The output package directory path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Properties">
            <xs:annotation>
              <xs:documentation>Additional properties to pass to the .nuspec file, i.e. token1=value1;token2="value2".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="IncludeReferencedProjects" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether to include referenced projects.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ExcludeEmptyDirectories" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether to exclude empty directories.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MsBuildVersion" type="xs:int">
            <xs:annotation>
              <xs:documentation>The MSBuild version. If not specified, that one in your path is used, otherwise the highest installed.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Verbosity" type="msb:Hxb-Nuget-Verbosity-Enum">
            <xs:annotation>
              <xs:documentation>The verbosity of the command.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PackageFile">
            <xs:annotation>
              <xs:documentation>[Output] The output package file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.NugetPush" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Runs the Nuget push command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="NugetExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The Nuget executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PackageFile" use="required">
            <xs:annotation>
              <xs:documentation>The package file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ApiKey" type="xs:string">
            <xs:annotation>
              <xs:documentation>The API key.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SourcePath">
            <xs:annotation>
              <xs:documentation>The source path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ConfigFile">
            <xs:annotation>
              <xs:documentation>The configuration file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Verbosity" type="msb:Hxb-Nuget-Verbosity-Enum">
            <xs:annotation>
              <xs:documentation>The verbosity of the command.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.NugetRestore" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Runs the Nuget restore command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="NugetExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The Nuget executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SolutionFile" use="required">
            <xs:annotation>
              <xs:documentation>The solution file to restore packages for.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PackagesDir">
            <xs:annotation>
              <xs:documentation>The packages directory where restore packages to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SourcesPaths">
            <xs:annotation>
              <xs:documentation>The sources paths to load packages from.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MsBuildVersion" type="xs:int">
            <xs:annotation>
              <xs:documentation>The MSBuild version. If not specified, that one in your path is used, otherwise the highest installed.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="NoCache" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether disable using machine cache as the first package source.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Verbosity" type="msb:Hxb-Nuget-Verbosity-Enum">
            <xs:annotation>
              <xs:documentation>The verbosity of the command.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.NUnit" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Runs the NUnit.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="NUnitConsoleExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The NUnit console executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="NUnitProjectOrTestsFiles" use="required">
            <xs:annotation>
              <xs:documentation>The NUnit project or tests files path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestsResultFile">
            <xs:annotation>
              <xs:documentation>The NUnit tests result file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestsListFile">
            <xs:annotation>
              <xs:documentation>The tests list file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestsParameters" type="xs:string">
            <xs:annotation>
              <xs:documentation>The tests parameters, specified in the form name=value.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestsFilter" type="xs:string">
            <xs:annotation>
              <xs:documentation>A tests filter to filter tests to run.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestsOutputFile">
            <xs:annotation>
              <xs:documentation>The tests output file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ErrorsOutputFile">
            <xs:annotation>
              <xs:documentation>The errors output file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AgentsNumber" type="xs:int">
            <xs:annotation>
              <xs:documentation>The agents number.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="StopOnErrorOrFailedTest" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether to stop on first error or first failed test.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="UseTeamCityServiceMessages" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>A value indicating whether to use TeamCity service messages.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Framework" type="xs:string">
            <xs:annotation>
              <xs:documentation>The framework to use for tests. Examples: "mono", "net-4.5", "v4.0", "2.0", "mono-4.0".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TraceLevel" type="msb:Hxb-NUnit-TraceLevel-Enum">
            <xs:annotation>
              <xs:documentation>The trace level.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Configuration" type="xs:string">
            <xs:annotation>
              <xs:documentation>The project configuration to load, i.e. "Debug", "Release".</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ProcessIsolation" type="msb:Hxb-NUnit-ProcessIsolation-Enum">
            <xs:annotation>
              <xs:documentation>Process isolation for test assemblies.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="DomainIsolation" type="msb:Hxb-NUnit-DomainIsolation-Enum">
            <xs:annotation>
              <xs:documentation>Domain isolation for test assemblies.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ShadowCopy" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Tells .NET to copy loaded assemblies to the shadow copy directory.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FailOnFailedTests" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether to fail the task on failed tests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestCases" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The count of test cases.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Total" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The total count of tests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Passed" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The count of passed tests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Failed" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The count of failed tests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Inconclusive" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The count of inconclusive tests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Skipped" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The count of skipped tests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Asserts" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The count of asserts.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="StartTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>[Output] The start time.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="EndTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>[Output] The end time.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Duration" type="xs:float">
            <xs:annotation>
              <xs:documentation>[Output] The duration of tests running.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.OpenCover" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Runs the OpenCover.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="OpenCoverExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The OpenCover executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Target" use="required">
            <xs:annotation>
              <xs:documentation>The target executable path with command line arguments and its "Type" in metadata.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CoverageResultFile" use="required">
            <xs:annotation>
              <xs:documentation>The coverage results output file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MinClassCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>The minimum class coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MinMethodCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>The minimum method coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MinBranchCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>The minimum branch coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MinLineCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>The minimum line coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ExcludeByAttributeFilters" type="xs:string">
            <xs:annotation>
              <xs:documentation>The filters to exclude code from coverage by attribute in format: Name*;*Attribute.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Filters" type="xs:string">
            <xs:annotation>
              <xs:documentation>The filters of binaries to cover in format: +[ModuleName*]*ClassName -[ModuleName*]*ClassName.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PdbSearchDirs">
            <xs:annotation>
              <xs:documentation>The PDB search directories path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ShowUnvisited" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Show unvisited methods and classes after coverage finishes and results are presented.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Register" type="msb:Hxb-OpenCover-Register-Enum">
            <xs:annotation>
              <xs:documentation>The type of registration of the OpenCover profiler.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxVisitCount" type="xs:int">
            <xs:annotation>
              <xs:documentation>The maximum visits count. Limiting can improve performance.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalLines" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The total lines count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="VisitedLines" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The visited lines count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalBranches" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The total branches count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="VisitedBranches" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The visited branches count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalClasses" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The total classes count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="VisitedClasses" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The visited classes count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalMethods" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The total methods count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="VisitedMethods" type="xs:long">
            <xs:annotation>
              <xs:documentation>[Output] The visited methods count.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MinCyclomaticComplexity" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The minimum cyclomatic complexity.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxCyclomaticComplexity" type="xs:int">
            <xs:annotation>
              <xs:documentation>[Output] The maximum cyclomatic complexity.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ClassCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>[Output] The class coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MethodCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>[Output] The method coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="LineCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>[Output] The line coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="BranchCoverage" type="xs:float">
            <xs:annotation>
              <xs:documentation>[Output] The branch coverage, in range: 0% - 100%.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.ReportUnit" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Generates HTML report using the ReportUnit tool.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="ReportUnitExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The ReportUnit executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TestsResultFile" use="required">
            <xs:annotation>
              <xs:documentation>The tests results file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ReportFile" use="required">
            <xs:annotation>
              <xs:documentation>The report file path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.ReportGenerator" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Generates HTML report using the ReportGenerator tool.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="ReportGeneratorExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The ReportGenerator executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResultsFiles" use="required">
            <xs:annotation>
              <xs:documentation>The results files paths.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ReportDir" use="required">
            <xs:annotation>
              <xs:documentation>The report directory path to save report to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ReportTypes" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>The report types, separated by semicolon.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Verbosity" type="msb:Hxb-ReportGenerator-Verbosity-Enum">
            <xs:annotation>
              <xs:documentation>The verbosity.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heleonix.Build.Tasks.SvnLog" substitutionGroup="msb:Task">
    <xs:annotation>
      <xs:documentation>Retrieves the Svn log.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:TaskType">
          <xs:attribute name="SvnExeFile" use="required">
            <xs:annotation>
              <xs:documentation>The Svn executable path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RepositoryFileDir" use="required">
            <xs:annotation>
              <xs:documentation>The file or directory path to retrieve log for.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxCount" type="xs:long">
            <xs:annotation>
              <xs:documentation>The maximum count of commits to retrieve from the log.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SinceDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date to start retrieval of commits from.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="UntilDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date to stop retrieval of commits on.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Commits">
            <xs:annotation>
              <xs:documentation>[Output] The commits.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--Endregion-->

  <!--Region In-->
  <xs:element name="Hxb-In-Flow" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A name of a flow to run.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-In-Configuration" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A configuration, i.e. "Release", "Debug".</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-In-Platform" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A platform, i.e. "AnyCPU".</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-In-Overrides" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A file to override everything up to solution-specific definitions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region System-->
  <xs:element name="Hxb-System-MSBuildVersion" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The MSBuild version. Allowed values are 4, 12, 14.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-System-GitExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The Git executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-SvnExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The Svn executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-FxCopCmd" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the FxCop cmd.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-NUnitConsoleExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the NUnit console executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-ReportUnitExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the ReportUnit executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-OpenCoverConsoleExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the OpenCover console executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-ReportGeneratorExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the ReportGenerator executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-System-NugetExe" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the Nuget executable.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Setup-->
  <xs:element name="Hxb-Setup-CI" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A type of continuous integration system.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-Setup-CI-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hxb-Setup-Workspace-Dir" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A current folder, where build is executed. Usually, it's a folder where a repository was checked out.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Setup-Sln-Flows" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The solution-specific build flows project file.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Build-->
  <xs:element name="Hxb-Build-VCS" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A type of the version control system.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-Build-VCS-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hxb-Build-Version" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A version of the build, in format: [major.minor.build.revision].</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Version-Informational" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>An informational version of the build, in a free format, i.e. [major.minor Beta].</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Sln-Dir" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A path to the directory of the solution to proceed with.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Sln-File" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A path to the solution file to proceed with.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Sln-Name" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A name of the solution file without extension.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Reports-Dir" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A path to the reports directory of the solution to put tests reports, coverage reports etc.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Deployments-Dir" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A path to the deployments directory to put Nuget packages, Web sites zips etc.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Build-Verbosity" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Common build verbosity for all targets and tasks.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-Build-Verbosity-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Hxb-Build-Sln" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>A path to the solution file to proceed with.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-Rebuild-->
  <xs:element name="Hxb-Rebuild-In-Outputs-RegExp" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A regular expression to filter outputs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Rebuild-In-Outputs-Tests-RegExp" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A regular expression to filter outputs tests.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-Rebuild-In-Delete" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>Files to delete during cleaning.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Rebuild-In-Clean-Dirs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>Directories to clean but not delete during cleaning.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Rebuild-In-Delete-Dirs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>Directories to delete during cleaning.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Rebuild-In-Snk" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The file with public/private keys pair to sign assemblies.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Rebuild-Out-Outputs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>Rebuilt items. Additional metadata: "MSBuildSourceProjectFile" - project of this item; "MSBuildSourceTargetName" - target which created this item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-Rebuild-Out-Outputs-Tests" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>Rebuilt items with tests. Additional metadata: "MSBuildSourceProjectFile" - project of this item; "MSBuildSourceTargetName" - target which created this item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-FxCop-->
  <xs:element name="Hxb-FxCop-In-TargetsTypes" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The comma-separated types to analyze. It isables analysis of assemblies, namespaces, and resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-FailOn" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Types of issues to fail the task.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-FxCop-Issues-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hxb-FxCop-Out-CriticalErrors" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The critical errors count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-Out-Errors" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The errors count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-Out-CriticalWarnings" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The critical warnings count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-Out-Warnings" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The warnings count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-Out-Informational" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The informational messages count.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-FxCop-In-AnalysisResult" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The analysis result file path relativety to the reports directory.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-Rules-FilesDirs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>Locations of rule libraries to load.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-Project" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The file path of an FxCop project file.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-Targets-FilesDirs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The files to analyze.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-AnalysisResultsXsl" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The analysis results XSL file that is referenced in the processing instruction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-Dependencies-Dirs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The dependencies directories paths to search for target assembly dependencies.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-Ruleset" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The ruleset file path to be used for the analysis.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-FxCop-In-Dictionary" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The dictionary file path to be used by spelling rules.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-NugetDeploy-->
  <xs:element name="Hxb-NugetDeploy-In-ApiKey" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The API key.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-IncludeReferencedProjects" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Indicates whether to include referenced projects.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-ExcludeEmptyDirectories" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Indicates whether to exclude empty directories.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-Properties" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Additional properties to pass to the .nuspec file, in format: token1=value1;token2="value2".</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-NugetDeploy-In-Nuspecs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The nuspec files paths.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-Projects" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The project files paths.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-Source" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The source path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-PackagesDir" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The output packages directory path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-In-Config" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The configuration file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetDeploy-Out-Packages" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The output packages files paths.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-NugetRestore-->
  <xs:element name="Hxb-NugetRestore-In-NoCache" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Indicates whether disable using machine cache as the first package source.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-NugetRestore-In-Sources" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The sources paths to load packages from.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NugetRestore-In-Packages-Dir" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The packages directory where restore packages to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-NUnit-->
  <xs:element name="Hxb-NUnit-In-TestsParameters" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The tests parameters, specified in the form name=value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-TestsFilter" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>A tests filter to filter tests to run.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-AgentsNumber" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The agents number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-StopOnErrorOrFailedTest" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Indicates whether to stop on first error or first failed test.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-UseTeamCityServiceMessages" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Indicates whether to use TeamCity service messages.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-Framework" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The framework to use for tests. Examples: "mono", "net-4.5", "v4.0", "2.0", "mono-4.0".</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-ProcessIsolation" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Process isolation for test assemblies.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-NUnit-ProcessIsolation-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-DomainIsolation" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Domain isolation for test assemblies.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-NUnit-DomainIsolation-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-ShadowCopy" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Tells .NET to copy loaded assemblies to the shadow copy directory.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-FailOnFailedTests" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Indicates whether to fail the task on failed tests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-TestCases" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The count of test cases.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Total" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The total count of tests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Passed" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The count of passed tests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Failed" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The count of failed tests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Inconclusive" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The count of inconclusive tests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Skipped" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The count of skipped tests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Asserts" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The count of asserts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-StartTime" type="xs:dateTime" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The start time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-EndTime" type="xs:dateTime" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The end time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-Out-Duration" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The duration of tests running.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-NUnit-In-NUnitProjectOrTests" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The NUnit project or tests files paths.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-TestsResult" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The NUnit tests result file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-TestsList" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The tests list file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-TestsOutput" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The tests output file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-NUnit-In-ErrorsOutput" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The errors output file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-OpenCover-->
  <xs:element name="Hxb-OpenCover-In-MinClassCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The minimum class coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-MinMethodCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The minimum method coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-MinBranchCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The minimum branch coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-MinLineCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The minimum line coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-ExcludeByAttributeFilters" type="msb:StringPropertyType"
              substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The filters to exclude code from coverage by attribute in format: Name*;*Attribute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-Filters" type="msb:StringPropertyType" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The filters of binaries to cover in format: +[ModuleName*]*ClassName -[ModuleName*]*ClassName.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-ShowUnvisited" type="xs:boolean" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>Show unvisited methods and classes after coverage finishes and results are presented.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-Register" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The type of registration of the OpenCover profiler.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="msb:Hxb-OpenCover-Register-Enum">
          <xs:attribute name="Condition" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-MaxVisitCount" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The maximum visits count. Limiting can improve performance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-TotalLines" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The total lines count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-VisitedLines" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The visited lines count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-TotalBranches" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The total branches count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-VisitedBranches" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The visited branches count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-TotalClasses" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The total classes count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-VisitedClasses" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The visited classes count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-TotalMethods" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The total methods count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-VisitedMethods" type="xs:long" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The visited methods count.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-MinCyclomaticComplexity" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The minimum cyclomatic complexity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-MaxCyclomaticComplexity" type="xs:int" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The maximum cyclomatic complexity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-ClassCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The class coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-MethodCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The method coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-LineCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The line coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-Out-BranchCoverage" type="xs:float" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The branch coverage, in range: 0% - 100%.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-OpenCover-In-Target" type="msb:GenericItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The target executable path with command line arguments and its type in metadata.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-CoverageResult" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The coverage result output file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-OpenCover-In-PdbSearchDirs" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The PDB search directories path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-ReportGenerator-->
  <xs:element name="Hxb-ReportGenerator-In-ReportTypes" substitutionGroup="msb:Property">
    <xs:annotation>
      <xs:documentation>The report types, separated by semicolon: Badges, Html, HtmlSummary, Latex, LatexSummary, TextSummary, Xml, XmlSummary.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="Hxb-ReportGenerator-In-Results" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The results files paths.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-ReportGenerator-In-Report-Dir" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The report directory path to save report to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

  <!--Region Target: Hxb-ReportUnit-->
  <xs:element name="Hxb-ReportUnit-In-TestsResult" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The tests result file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hxb-ReportUnit-In-Report" type="msb:SimpleItemType" substitutionGroup="msb:Item">
    <xs:annotation>
      <xs:documentation>The report file path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--Endregion-->

</xs:schema>